.github/**
.vscode/**
SDP/**
adapter/src/**
extension/src/**
protocol/**
scripts/**
test/**
test-fixtures/**
out/test/**
out/**/*.d.ts
out/**/*.map
node_modules/@vscode/debugadapter/lib/tests/**
.gitignore
.vscodeignore
eslint.config.mjs
package-lock.json
tsconfig.json
*.vsix
*.log
